.card {
    background: #FFF;
    min-height: 184px;
    height: 100%;
    width: 100%;
    padding: 24px;
    border-radius: 4px;
    font-family: Inter, sans-serif;
}

.number {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

.text {
    text-align: center;
    padding-top: 12px;
    font-weight: 400;
}

.img {
    display: block;
    font-size: 48px;
    text-align: center;
    margin-bottom: 18px;
}

